p{
    font-style: italic;
    font-size: 20px;
    font-family: cursive;
    font-weight: 900;
    line-height: 30px;
}

#firstPara{
    background-color: yellow;
    color: brown;
}

#secondPara{
    background-color: rgb(105, 129, 194);
}

#thirdPara{
    background-color: rgba(50, 198, 27, 0.523);
}